.nav__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
  }
  
  .burger__line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
  }
  
  .burger__line.open {
    background-color: #d3d3d3; /* например, при открытии */
  }