.filter__block {
  padding-left: 10px;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.active {
  color: #b672ff;
  border-color: #9a48f1;
}
