.modal {
  border-radius: 12px;
  position: absolute;
  background-color: #313131;
  padding: 34px;
}

.scroll {
    color: white;
    padding-right: 24px;
    display: flex;
    gap: 28px;
    height: max-content;
    max-height: 237px;
    overflow-y: auto;
    flex-direction: column;
    width: max-content;
    max-width: 248px;
  
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: rgba(75, 73, 73, 1);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: white;
    }
}
.item {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.item:hover {
  text-decoration: underline;
  color: #a050f5;
}

.activeItem {
  font-size: 18px;
  color: #a050f5;
  font-weight: bold;
  text-decoration: underline;
  padding: 8px 0;
  cursor: pointer;
}
